@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #479BD8;
}

body {
    font-family: "Poppins", serif;
    background-color: #fafafa;
}

.container-auth {
    display: flex;
    height: 100vh;
}

.form-container,
.image {
    flex: 1;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
}

h2 {
    text-align: center;
    color: #333;
}

form > h1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    color: #10100E;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    font-family: "Poppins", serif;
    font-size: 14px;
}

.input-box input:focus {
    outline: none;
    border: 1px solid #a8a8a8;
    box-shadow: 0 0 10px rgba(97, 97, 97, 0.253);
}

.input-box p {
    margin: 0;
    color: #10100E;
    font-weight: 600;
    font-size: 18px;
}

.input-box input[type="text"],
input[type="email"],
input[type="password"] {

    padding: 15px 215px 15px 15px;
    margin: 3px 0px 14px 0px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input::placeholder {
    color: #A7A7A7;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.input-error {
    border: 1px solid rgba(255, 0, 0, 0.692) !important;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(255, 10, 26, 0.8);
    -moz-box-shadow: 0px 0px 14px -3px rgba(255, 10, 26, 0.8);
    box-shadow: 0px 0px 14px -3px rgba(255, 10, 26, 0.8);
}

.btn-authForm {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    background-color: #10100E;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.btn-authForm:hover {
    background-color: #303030;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

.register {
    margin-top: 6px;
}

.error-message, .twofa-message {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.692);
}

.twofa-message {
    background-color: rgba(2, 255, 23, 0.521);
}
