.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-body {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #f4f4f4;
}

.chat-sidebar {
    margin: 20px 20px;
    min-width: 290px;
    max-height: 100vh;
    overflow-y: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}

.chat-user-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.4s;
}

.chat-user-item:hover {
    background-color: #e4e4e4;
}

.chat-user-item.active {
    background-color: #e4e4e4;
}

.chat-user-item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.chat-user-item {
    padding: 7px 15px;
    margin-bottom: 2px;
}

.chat-main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px 10px;
    max-width: 250px;
    border-radius: 15px;
    transition: background-color 0.4s;
}

.chat-header:hover {
    background-color: #f4f4f4;
}

.chat-header h3 {
    font-size: 16px;
    font-weight: 500;
}

.chat-messages {
    position: relative;
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 1400px;
    transition: height 0.2s ease;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
}

.chat-message-author {
    display: flex;
}

.chat-message-author p {
    font-size: 13px;
    color: #5B5B5B;
}

.chat-message-self .message-container {
    background-color: #479cd8d2;
    padding: 5px 12px;
    border-radius: 10px;
}

.chat-message-other .message-container {
    background-color: #e4e4e4;
    padding: 5px 12px;
    border-radius: 10px;
}

.message-container {
    font-size: 15px;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.chat-input-container {
    position: relative;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.chat-input-block {
    display: flex;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    width: 100%;
    z-index: 1;
}

.chat-input-block img {
    width: 20px;
    margin-left: 5px;
}

.chat-input {
    background-color: transparent;
    border: 0px;
    width: 100%;
    outline: none;
    font-family: "Poppins", serif;
    color: #383838;
}

.textarea-auto {
    width: 100%;
    resize: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.2;
    max-height: 150px;
    overflow-y: auto;
}

.chat-placeholder {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: #555;
    background: -webkit-linear-gradient(-45deg, #e1e1e1, #d3d3d3, #eaeaea, #dfdfdf);
    background: -moz-linear-gradient(-45deg, #e1e1e1, #d3d3d3, #eaeaea, #dfdfdf);
    background: linear-gradient(-45deg, #e1e1e1, #d3d3d3, #eaeaea, #dfdfdf);
    background-size: 400% 400%;
    -webkit-animation: gradientFlow 8s ease infinite;
    -moz-animation: gradientFlow 8s ease infinite;
    animation: gradientFlow 8s ease infinite;
    border-radius: 10px;
    z-index: 10;
}

@-webkit-keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}