.feed-container {
    flex-grow: 1;
    background: #f4f4f4;
    padding: 20px;
}

.feed-posts-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #fafafa;
    padding: 16px;
    border-radius: 10px;
}

.feed-posts-info {
    margin-left: 10px;
}

.feed-posts-user {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.community-card {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-info {
    display: flex;
    align-items: center;
}

.feed-info-p {
    font-size: 13px;
    font-weight: 300;
}

.p-blue {
    color: #3F8BE4;
}

.p-grey {
    color: #A7A7A7;
}

.feed-info p+p {
    margin-left: 10px;
    position: relative;
}

.separator {
    width: 1.5px;
    height: 15px;
    background-color: #A7A7A7;
    margin: 0 10px;
}

.feed-posts-title {
    max-width: 900px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-align: left;
}

.feed-posts-title.expanded {
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
    max-height: none;
}

.view-more {
    color: #3F8BE4;
    cursor: pointer;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
}

.feed-post-title-img.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed-post-title-img.horizontal {
    display: block;
    flex-direction: column;
    align-items: flex-start;
}

.feed-posts-image {
    padding-right: 10px;
}

.feed-posts-image.vertical img {
    max-width: 215px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.feed-posts-image.horizontal img {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

.feed-post-title-img.horizontal {
    display: block;
}