.sidebar-container {
    /* width: 23%; */
    /* width: 400px; */
    background-color: #f4f4f4;
    flex-direction: column;
    padding: 43px 61px 16px 27px;
}

.communities-section {
    margin-bottom: 16px;
}

.communities-section, .events-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 291px;
}

.sidebar-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
}

.sidebar-title {
    margin-right: 8px;
    font-size: 16px;
}

.item-title {
    margin-left: 16px;
}

.sidebar-name img {
    transform: rotate(0.75turn);
}


.sidebar-name img {
    transition: transform 0.3s ease;
}

.sidebar-name img.rotated {
    transform: rotate(360deg);
}

.community-item img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.community-item, .event-item {
    display: flex;
    margin-bottom: 16px;
    cursor: pointer;
}

.event-item img {
    height: 60px;
    width: 60px;
    margin-right: 16px;
    border-radius: 10px;
}

.community-type, .community-members,  .event-date, .event-attendees {
    font-size: 10px;
    color: #A7A7A7;
}

.community-type {
    text-transform: uppercase;
}