.navbar-container {
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #E4E4E4;
    padding-top: 40px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #10100E;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #479BD8;
}

.navbar a.active {
    font-weight: bold;
    color: #479BD8;
    border-bottom: 3px solid #479BD8;
    z-index: 1000;
}
