.profile-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-header-info {
    display: flex;
    gap: 20px;
}

.profile-info-image-user {
    display: flex;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 50%;
    padding: 4px;
}

.profile-info-image-user img {
    border-radius: 50%;
}

.profile-info-username-bio {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 8px;
}

.profile-info-username {
    font-size: 20px;
    font-weight: 600;
}

.profile-info-bio {
    font-size: 12px;
    color: #5B5B5B;
}

.profile-buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: auto;
}

.profile-buttons button {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(9, 147, 246, 0.31);
    color: #0094FF;
    padding: 4px 16px;
}