@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.body {
    font-family: "Poppins", serif;
    background-color: #f4f4f4;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle-1 {
    width: 1980px;
    height: 1980px;
    margin: 110px;
    z-index: 1;
}

.circle-2 {
    width: 1640px;
    height: 1640px;
    margin: 100px;
    z-index: 2;
}

.circle-3 {
    width: 1300px;
    height: 1300px;
    margin: 80px;
    z-index: 3;
}

.circle-4 {
    width: 900px;
    height: 900px;
    margin: 60px;
    z-index: 4;
}

.circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    z-index: 50;
}

.greyBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: #E4E4E4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.emoji-container img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.greyBackground img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}


.circle-1 .emoji-greyBackground:nth-child(1) {
    top: 70%;
    left: 4%;
    transform: translate(-50%, -50%);
}

.circle-1 .emoji-greyBackground:nth-child(2) {
    top: 70%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-greyBackground:nth-child(2) {
    top: 55%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-greyBackground:nth-child(3) {
    top: 70%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-container:nth-child(1) {
    top: 38%;
    left: 1.5%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-container:nth-child(4) {
    top: 72%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-container:nth-child(5) {
    top: 52%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.circle-2 .emoji-greyBackground:nth-child(6) {
    top: 30%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.circle-3 .emoji-greyBackground:nth-child(1) {
    top: 70%;
    left: 4%;
    transform: translate(-50%, -50%);
}

.circle-3 .emoji-greyBackground:nth-child(2) {
    top: 25%;
    left: 6%;
    transform: translate(-50%, -50%);
}

.circle-3 .emoji-greyBackground:nth-child(3) {
    top: 32%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.circle-3 .emoji-greyBackground:nth-child(4) {
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.circle-3 .emoji-container:nth-child(5) {
    top: 60%;
    left: 99%;
    transform: translate(-50%, -50%);
}

.circle-4 .emoji-greyBackground:nth-child(1) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-4 .emoji-greyBackground:nth-child(2) {
    top: 30%;
    left: 4%;
    transform: translate(-50%, -50%);
}

.circle-4 .emoji-greyBackground:nth-child(3) {
    top: 40%;
    left: 99%;
    transform: translate(-50%, -50%);
}

.info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-title {
    max-width: 500px;
    padding-bottom: 20px;
}

.info-title h1 {
    font-size: 60px;
    line-height: 1.2;
    color: #10100E;
    text-align: center;
}

.info-text {
    text-align: center;
    max-width: 530px;
    padding-bottom: 30px;
}

.info-text p {
    font-size: 20px;
    color: #A7A7A7;
}


.info-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    background-color: #10100E;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.4s ease, transform 0.4s ease;
    cursor: pointer;
}

.info-button a:hover {
    background-color: #303030;
    transform: scale(1.05)
}

.info-button a img {
    padding-left: 6px;
}
